name: "infra preview & deploy"

on:
  push:
    branches:
      - main
    paths:
      - "10_infra/**"
      - ".github/workflows/**" 
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  previews:
    name: "preview"
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_ARN }}
          aws-region: ap-northeast-1

      - name: Hello World
        run: |
          echo "Hello World"