name: "infra preview & deploy"

on:
  push:
    branches:
      - main
    paths:
      - "10_infra/**"
      - ".github/workflows/**" 
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  previews:
    name: "preview"
    runs-on: ubuntu-latest 
    steps:
      - name: Hello World
        run: |
          echo "Hello World"